* text=auto eol=lf

*.avif binary
*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary

*.eot binary
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary

*.pdf binary
*.zip binary
